.page{
	margin: 0;
	padding: 0;
	background-color: yellow;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 1500px;
	margin: 0 auto;
	background-color: #e9eae2;
}
.promo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 665px;
	background-color: #e9eae2;
}
.logo{
	display: block;
	width: 48px;
	height: 48px;
	background: linear-gradient(#7dd5c9,#7dd5c9),
				linear-gradient(#ff9b6d,#ff9b6d),
				linear-gradient(#bfe79e,#bfe79e),
				linear-gradient(#f8c255,#f8c255);
	background-size: 24px 24px;
	background-position: right bottom, left bottom, right top, left top;
	background-repeat: no-repeat;
}
.promo__logo{
	position: absolute;
	top: 20px;
	left: 20px;
}
.promo__selector{
	position: relative;
	align-self: flex-start;
	margin-left: 185px;
	margin-right: 0;
}
.selector{
	width: : 0;
	height: 0;
	box-sizing: border-box;	
	border-left: 175px solid transparent;
    border-right: 166px solid transparent;
    border-top: 283px solid #f9c34a;
}
.selector__img{
	position: absolute;
    top: -196px;
    left: -12px;
}
.selector__button{
	position: absolute;
	border:none;
	background-color: transparent;
	color:#c19226;
	transform: scaleY(2);
	cursor: pointer;
}
.selector__button_prev{
    top: -177px;
    left: -41px;
}
.selector__button_next{
	top: -177px;
    left: 23px;
}
.promo__item{
	position:absolute;
    top: 169px;
    left: 142px;
}
.promo__img{
	z-index: 1;
	width: 415px;
	height: 523px;
	mix-blend-mode: multiply;
}
.promo__info{
	display: block;
	position: absolute;
	left: -90px;
    top: 40px;
    text-decoration: none;
}
.promo__name,
.promo__price{
	margin: 0;
	font-size: 28px;
	line-height: 37px;
	color: #969693;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: capitalize;
	
}
.author{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
}
.promo__author{
	padding-right: 36px;
}
.author__img{
	width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 30%;
    border-radius: 50%;
    filter: grayscale(1);
}
.author__name{
	font-size: 16px;
	line-height: 17px;
	color: #adada7;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}
.author__headline{
	width: 330px;
    font-size: 3.56em;
	line-height: 60px;
	color: #3f3f3e;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 0.4em 0 1em 0;
}
.nav{
	position: relative;
	align-self: flex-start;
	width: 382px;
	height: 665px;
	box-sizing: border-box;
	padding: 63px 33px;
	background-image: url('src/img/Layer 15.png'), 
					linear-gradient(#142038, #142038);
	background-blend-mode: darken;
	background-position: right;
	background-repeat: no-repeat;
}
.category-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 205px;
	position: absolute;
	top: 60px;
    left: -70px;
}
.category{
	position: relative;
	height: 60px;
	width: 70px;
	cursor: pointer;
}
.category_img{
	height: 60px;
	width: 70px;
	box-sizing: border-box;
    padding-right: 8px;
	object-fit: none;
}
.category input[type="radio"]{
	display: none;
}
.category input[type="radio"]:checked + .category_img{
	background-color: #86d8cd;
}
.nav__title{
	font-size: 18px;
	color: #979797;
	font-family: "Roboto";
	text-transform: uppercase;
}
.nav__list{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 330px;
    height: 500px;
}
.link{
	text-align: center;
	cursor: pointer;
}
.link__figure{
	margin: 16px 0 42px 0;
	padding: 0;
}
.link__figure a{
	text-decoration: none;
}
.link__caption{
	margin-top: 7px;
	font-size: 16px;
	color: #3ab3a6;
	font-family: "Roboto";
	font-weight: bold;
	text-transform: uppercase;
}
.link__img{
	height: 35px;
	object-fit: none;
}
.main{
	width: 1500px;
	margin: 0 auto;
	background-color: #ffffff;
}
.item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.item__logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 360px;
	height: 372px;
	padding: 30px 0px 0px 10px;
    box-sizing: border-box;
	background-color: #7dd5c9;
}
.item__logo img{
	margin-bottom: 35px;
}
.item__logo:after{
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  content: "";
  width: 20px;
  height: 100%;
  background: transparent;
  background-image: linear-gradient(to bottom left, transparent 50%, #7dd5c9 50%),
                    linear-gradient(to top left, transparent 50%, #7dd5c9 50%);  
  background-repeat: repeat-y;
  background-position: 0 10px;
  background-size: 20px 20px;
}
.item__logo p{
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	color: #266258;
	font-family: "Roboto";
	font-weight: 300;
	text-transform: uppercase;
}
.item__logo p:last-child{
	font-size: 14px;
	color: #438a7e;
	font-family: "Roboto";
	font-weight: 500;
}
.item_left{
	margin-right: 20px;
}
.item__info{
	display: flex;
	flex-direction: column;
}
.item__img{
	align-self: flex-end;
}
.main__author{
    padding: 75px 115px 0 0;
    margin-left: -111px;
}
.main__headline{
	text-align: left;
	text-align: left;
    width: 35%;
    margin: 0.21em 0 1em 0;
}