.page{
	margin: 0;
	padding: 0;
	
}
.header{
	position: relative;
	width: 1500px;
	margin: 0 auto;
}
.promo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1120px;
	height: 665px;
    padding-right: 115px;
	box-sizing: border-box;
	background-color: #e9eae2;
}
.logo{
	display: block;
	width: 48px;
	height: 48px;
	background: linear-gradient(#7dd5c9,#7dd5c9),
				linear-gradient(#ff9b6d,#ff9b6d),
				linear-gradient(#bfe79e,#bfe79e),
				linear-gradient(#f8c255,#f8c255);
	background-size: 24px 24px;
	background-position: right bottom, left bottom, right top, left top;
	background-repeat: no-repeat;
}
.promo__logo{
	position: absolute;
	top: 20px;
	left: 20px;
}
.promo__selector{
	position: relative;
	align-self: flex-start;
	margin-left: 185px;
	margin-right: 0;
}
.selector{
	width: 0;
	height: 0;
	box-sizing: border-box;	
	border-left: 171.5px solid transparent;
    border-right: 171.5px solid transparent;
    border-top: 285px solid #f9c34a;
}
.selector__img{
	position: absolute;
	top: -198px;
    left: -9px;
}
.selector__button{
	position: absolute;
	border:none;
	background-color: transparent;
	color:#c19226;
	transform: scaleY(2);
	cursor: pointer;
}
.selector__button_prev{
	top: -180px;
    left: -38px;
}
.selector__button_next{
	top: -180px;
    left: 26px;
}
.promo__item{
	position:absolute;
	top: 170px;
    left: 140px;
}
.promo__img{
	z-index: 1;
	width: 415px;
	height: 523px;
	mix-blend-mode: multiply;
}
.promo__info{
	display: block;
	position: absolute;
	left: -90px;
    top: 40px;
    text-decoration: none;
}
.promo__name,
.promo__price{
	margin: 0;
	font-size: 28px;
	line-height: 37px;
	color: #969693;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: capitalize;
	
}
.author{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100%;
}
.author__img{
	width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 30%;
    border-radius: 50%;
    filter: grayscale(1);
}
.author__name{
	font-size: 16px;
	line-height: 17px;
	color: #adada7;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}
.author__headline{
	width: 330px;
	font-size: 57px;
	line-height: 60px;
	color: #3f3f3e;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 0.7em 0;
}