.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 1500px;
	margin: 0 auto;
	background-color: #e9eae2;
}
.promo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 665px;
	background-color: #e9eae2;
}
.logo{
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	width: 48px;
	height: 48px;
	background: linear-gradient(#7dd5c9,#7dd5c9),
				linear-gradient(#ff9b6d,#ff9b6d),
				linear-gradient(#bfe79e,#bfe79e),
				linear-gradient(#f8c255,#f8c255);
	background-size: 24px 24px;
	background-position: right bottom, left bottom, right top, left top;
	background-repeat: no-repeat;
}
.selector{
	position: relative;
	align-self: flex-start;
	margin-left: 185px;
	margin-right: 0;
	width: : 0;
	height: 0;
	box-sizing: border-box;	
	border-left: 175px solid transparent;
    border-right: 166px solid transparent;
    border-top: 283px solid #f9c34a;
}
.selector__container{
	position: absolute;
    top: -196px;
    left: -42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 85px;
}
.selector__button{
	border:none;
	background-color: transparent;
	color:#c19226;
	transform: scaleY(2);
	cursor: pointer;
}
.promo-product{
	position:absolute;
    top: 169px;
    left: 142px;
}
.promo-product__img{
	width: 415px;
	height: 523px;
	mix-blend-mode: multiply;
}
.promo-product__info{
	display: block;
	position: absolute;
	left: -90px;
    top: 40px;
    text-decoration: none;
}
.promo-product__text{
	margin: 0;
	font-size: 28px;
	line-height: 37px;
	color: #969693;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: capitalize;
}
.promo-author{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	padding-right: 36px;
}
.promo-author__img{
	width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 30%;
    border-radius: 50%;
    filter: grayscale(1);
}
.promo-author__name{
	font-size: 16px;
	line-height: 17px;
	color: #adada7;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}
.promo-author__headline{
	width: 330px;
    font-size: 3.56em;
	line-height: 60px;
	color: #3f3f3e;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 0.4em 0 1em 0;
}
.nav{
	position: relative;
	align-self: flex-start;
	width: 382px;
	height: 665px;
	box-sizing: border-box;
	padding: 63px 33px;
	background-image: url('src/img/Layer 15.png'), 
					linear-gradient(#142038, #142038);
	background-blend-mode: darken;
	background-position: right;
	background-repeat: no-repeat;
}
.category-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 205px;
	position: absolute;
	top: 60px;
    left: -70px;
}
.category{
	position: relative;
	height: 60px;
	width: 70px;
	cursor: pointer;
}
.category_img{
	height: 60px;
	width: 70px;
	box-sizing: border-box;
    padding-right: 8px;
	object-fit: none;
}
.category input[type="radio"]{
	display: none;
}
.category input[type="radio"]:checked + .category_img{
	background-color: #86d8cd;
}
.nav__title{
	font-size: 18px;
	color: #979797;
	font-family: "Roboto";
	text-transform: uppercase;
}
.nav__list{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 330px;
    height: 500px;
}
.link{
	text-align: center;
	cursor: pointer;
}
.link__figure{
	margin: 16px 0 42px 0;
	padding: 0;
}
.link__figure a{
	text-decoration: none;
}
.link__caption{
	margin-top: 7px;
	font-size: 16px;
	color: #3ab3a6;
	font-family: "Roboto";
	font-weight: bold;
	text-transform: uppercase;
}
.link__img{
	height: 35px;
	object-fit: none;
}